.navbar_container{
    background-image: linear-gradient(45deg, rgb(76, 110, 245) 0%, rgb(21, 170, 191) 100%);
    // min-width: 16rem;
    transition: width 0.5s ease-in-out;
    &::before {
        content: "";
        position: absolute;
        width: 2rem;
        height: 100%;
        top: 0;
        left: 100%;
    }
}