.navbar_container{
    // // background-image: linear-gradient(45deg, #2D79AD 0%, rgb(21, 170, 191) 100%);
    // background-image: linear-gradient(45deg, rgb(21, 170, 191) 0%, #12659b 100%);
    // min-width: 16rem;
    transition: width 0.5s ease-in-out;
    &::before {
        content: "";
        position: absolute;
        width: 2rem;
        height: 100%;
        top: 0;
        left: 100%;
    }
}