.label_form_input{
    padding-bottom: 0 !important;
    font-size: 14px !important;
    line-height: 20px !important;
}
.label_form_input_above{
    padding-top: 4px !important;
}
.selected_entity{
    border: 2px solid #2D79AD;
    color: #fff !important;
    fill: currentColor;
    background-color: #2D79AD;
}